
@main("Character Sheets by Dyslexic Studeos") {
	<header id='bodyheader'>
	  <h1>Character Sheets by Dyslexic Studeos</h1>

	  <nav class='tabs'>
	    <ul>
	    <li><a href='/'>&laquo; Back to intro</a></li>
	    	<li><a rel='#legal-tab' class='selected'>Legal info</a></li>
	    	<li><a rel='#license-tab'>Artistic License 2.0</a></li>
	      <li><a rel='#ogl-tab'>OGL <span>v1.0a</span></a></li>
	    </ul>
	  </nav>
	</header>

  <section class='tab selected' id='legal-tab'>

    <div class='yui3-g'>
      <div class='yui3-u-1-2'><div class='col left'>

      	<h3>Copyright</h3>
      	<p>Copyright © Marcus Downing.</p>

        <p>I thank everyone who has helped out with feedback, fixes, improvements and contributions.</p>

      	<p>I thank <a href="http://dandddoodles.blogspot.com/">the owlbear of D&amp;D Doodles</a> for the use of his illustrations. Other artwork remains the property of Paizo Publishing LLC or its respective owner.</p>

        <h3>License</h3>
      	<p>This product is released under <a href='#license-tab'>the Artistic License 2.0</a>.</p>

      	<p>For the purposes of <a href='#license-tab'>the license</a>, the "source" is defined as the Illustrator files, script files and other original creations covered under product identity below, as well as the source code for this website; and "compiled form" is defined as any PDF file produced as a product of these files, including those produced using the "Build My Character" tool.</p>

      	<h3>Open Content</h3>
      	<p>The following items are hereby identified as <b>Product Identity</b>, as defined in <a href='#ogl-tab'>the Open Game License version 1.0a</a>, Section 1(e), and are not Open Content: the visual design, layout and appearance of the character sheets, the source code of this website and the attached Build My Character tool, and the scripts used to manipulate the character sheets.</p>

      	<p>Elements that have previously been designated as Open Game Content, are in the public domain or have previously been identified as product identity by another vendor are not included in this declaration.</p>

      	<p>Except for material designated as Product Identity (see above) or the property of other companies, the game mechanics used in this product are Open Game Content, as defined in <a href='#ogl-tab'>the Open Gaming License version 1.0a Section 1(d)</a>.</p>

      </div></div>
      <div class='yui3-u-1-2'><div class='col right'>

      	<h3>Pathfinder</h3>
      	<p>These character sheets use trademarks and/or copyrights owned by Paizo Publishing, LLC, which are used under Paizo's Community Use Policy. We are expressly prohibited from charging you to use or access this content. These character sheets are not published, endorsed, or specifically approved by Paizo Publishing. For more information about Paizo's Community Use Policy, please visit <a href="http://www.paizo.com/communityuse">paizo.com/communityuse</a>. For more information about Paizo Publishing and Paizo products, please visit <a href="http://www.paizo.com">paizo.com</a>.</p>
      	<p>Paizo Publishing, LLC, the Paizo golem logo, Pathfinder, and GameMastery are registered trademarks of Paizo Publishing, LLC; Pathfinder Roleplaying Game,
Pathfinder Adventure Path, Pathfinder Campaign Setting, Pathfinder Module, Pathfinder Player Companion, Pathfinder Society, Pathfinder Tales, and Titanic Games are
trademarks of Paizo Publishing, LLC. &copy; 2011 Paizo Publishing, LLC.</p>

      	<h3>Dungeons & Dragons</h3>
      	<p>These character sheets are not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. These character sheets may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under <a href='http://www.wizards.com/fankit/fantoolkitdnd.html'>Wizards' Fan Site Policy</a>. For example, DUNGEONS &amp; DRAGONS&reg;, D&amp;D&reg;, PLAYER'S HANDBOOK 2&reg;, and DUNGEON MASTER'S GUIDE&reg; are trademarks of Wizards of the Coast and D&amp;D&reg; core rules, game mechanics, characters and their distinctive likenesses are the property of the Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a href='http://www.wizards.com'>www.wizards.com</a>.</p>

      	<h3>Fonts</h3>
      	<p> These character sheets use the fonts <a href='http://www.fontsquirrel.com/fonts/roboto'>Roboto</a> (released under the Google Android License) and <a href='http://www.fontsquirrel.com/fonts/merriweather'>Merriweather</a> (released under the <a href='http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL'>Open Font License</a>). This website uses the fonts <a href='http://www.fontsquirrel.com/fonts/ChunkFive'>Chunk</a> from The League Of Movable Type and <a href='http://www.linuxlibertine.org/'>Linux Libertine</a> from the Libertine Open Fonts Project (both released under the <a href='http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL'>Open Font License</a>).</p>

      </div></div>
  	</div>
  </section>



  <section class='tab' id='license-tab'>
    <h2 id='license-tab-title'>Artistic License 2.0</h2>

    <div class='yui3-g'>
      <div class='yui3-u-1-2'><div class='col left'>

		<p>Copyright &copy; 2000-2006, The Perl Foundation.</p>
		<p>Everyone is permitted to copy and distribute verbatim copies of this license document, but changing it is not allowed.</p>

<h3>Preamble</h3>

<p>This license establishes the terms under which a given free software Package may be copied, modified, distributed, and/or redistributed. The intent is that the Copyright Holder maintains some artistic control over the development of that Package while still keeping the Package available as open source and free software.
You are always permitted to make arrangements wholly outside of this license directly with the Copyright Holder of a given Package. If the terms of this license do not permit the full use that you propose to make of the Package, you should contact the Copyright Holder and seek a different licensing arrangement.</p>

<h3>Definitions</h3>

<dl>

<dt>"Copyright Holder"</dt>
<dd>means the individual(s) or organization(s) named in the copyright notice for the entire Package.</dd>

<dt>"Contributor"</dt>
<dd>means any party that has contributed code or other material to the Package, in accordance with the Copyright Holder's procedures.</dd>

<dt>"You" and "your"</dt>
<dd>means any person who would like to copy, distribute, or modify the Package.</dd>

<dt>"Package"</dt>
<dd>means the collection of files distributed by the Copyright Holder, and derivatives of that collection and/or of those files. A given Package may consist of either the Standard Version, or a Modified Version.</dd>

<dt>"Distribute"</dt>
<dd>means providing a copy of the Package or making it accessible to anyone else, or in the case of a company or organization, to others outside of your company or organization.</dd>

<dt>"Distributor Fee"</dt>
<dd>means any fee that you charge for Distributing this Package or providing support for this Package to another party. It does not mean licensing fees.</dd>

<dt>"Standard Version"</dt>
<dd>refers to the Package if it has not been modified, or has been modified only in ways explicitly requested by the Copyright Holder.</dd>

<dt>"Modified Version"</dt>
<dd>means the Package, if it has been changed, and such changes were not explicitly requested by the Copyright Holder.</dd>

<dt>"Original License"</dt>
<dd>means this Artistic License as Distributed with the Standard Version of the Package, in its current version or as it may be modified by The Perl Foundation in the future.</dd>

<dt>"Source"</dt>
<dd>form means the source code, documentation source, and configuration files for the Package.</dd>

<dt>"Compiled"</dt>
<dd>form means the compiled bytecode, object code, binary, or any other form resulting from mechanical transformation or translation of the Source form.</dd>
</dl>

<h3>Permission for Use and Modification Without Distribution</h3>
<ol>
	<li>You are permitted to use the Standard Version and create and use Modified Versions for any purpose without restriction, provided that you do not Distribute the Modified Version.</li>
</ol>

<h3>Permissions for Redistribution of the Standard Version</h3>

<ol start="2">
	<li>You may Distribute verbatim copies of the Source form of the Standard Version of this Package in any medium without restriction, either gratis or for a Distributor Fee, provided that you duplicate all of the original copyright notices and associated disclaimers. At your discretion, such verbatim copies may or may not include a Compiled form of the Package.</li>
	<li>You may apply any bug fixes, portability changes, and other modifications made available from the Copyright Holder. The resulting Package will still be considered the Standard Version, and as such will be subject to the Original License.</li>
</ol>

<h3>Distribution of Modified Versions of the Package as Source</h3>

<ol start="4">
	<li>You may Distribute your Modified Version as Source (either gratis or for a Distributor Fee, and with or without a Compiled form of the Modified Version) provided that you clearly document how it differs from the Standard Version, including, but not limited to, documenting any non-standard features, executables, or modules, and provided that you do at least ONE of the following:
		<ol type="a">
			<li>make the Modified Version available to the Copyright Holder of the Standard Version, under the Original License, so that the Copyright Holder may include your modifications in the Standard Version.</li>
			<!--
			<li>ensure that installation of your Modified Version does not prevent the user installing or running the Standard Version. In addition, the Modified Version must bear a name that is different from the name of the Standard Version.</li>
			<li>allow anyone who receives a copy of the Modified Version to make the Source form of the Modified Version available to others under
				<ol type="i">
					<li>the Original License or</li>
					<li>a license that permits the licensee to freely copy, modify and redistribute the Modified Version using the same licensing terms that apply to the copy that the licensee received, and requires that the Source form of the Modified Version, and of any works derived from it, be made freely available in that license fees are prohibited but Distributor Fees are allowed.</li>
				</ol>
			</li>
			-->
		</ol>
	</li>
</ol>

      </div></div>
      <div class='yui3-u-1-2'><div class='col right'>

<ol start="4">
	<li style='list-style: none;'>
		<ol type="a" start="2">
			<li>ensure that installation of your Modified Version does not prevent the user installing or running the Standard Version. In addition, the Modified Version must bear a name that is different from the name of the Standard Version.</li>
			<li>allow anyone who receives a copy of the Modified Version to make the Source form of the Modified Version available to others under
				<ol type="i">
					<li>the Original License or</li>
					<li>a license that permits the licensee to freely copy, modify and redistribute the Modified Version using the same licensing terms that apply to the copy that the licensee received, and requires that the Source form of the Modified Version, and of any works derived from it, be made freely available in that license fees are prohibited but Distributor Fees are allowed.</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>

<h3>Distribution of Compiled Forms of the Standard Version or Modified Versions without the Source</h3>

<ol start="5">
	<li>You may Distribute Compiled forms of the Standard Version without the Source, provided that you include complete instructions on how to get the Source of the Standard Version. Such instructions must be valid at the time of your distribution. If these instructions, at any time while you are carrying out such distribution, become invalid, you must provide new instructions on demand or cease further distribution. If you provide valid instructions or cease distribution within thirty days after you become aware that the instructions are invalid, then you do not forfeit any of your rights under this license.</li>

	<li>You may Distribute a Modified Version in Compiled form without the Source, provided that you comply with Section 4 with respect to the Source of the Modified Version.</li>
</ol>

<h3>Aggregating or Linking the Package</h3>

<ol start="7">
	<li>You may aggregate the Package (either the Standard Version or Modified Version) with other packages and Distribute the resulting aggregation provided that you do not charge a licensing fee for the Package. Distributor Fees are permitted, and licensing fees for other components in the aggregation are permitted. The terms of this license apply to the use and Distribution of the Standard or Modified Versions as included in the aggregation.</li>
	<li>You are permitted to link Modified and Standard Versions with other works, to embed the Package in a larger work of your own, or to build stand-alone binary or bytecode versions of applications that include the Package, and Distribute the result without restriction, provided the result does not expose a direct interface to the Package.</li>
</ol>

<h3>Items That are Not Considered Part of a Modified Version</h3>

<ol start="9">
	<li>Works (including, but not limited to, modules and scripts) that merely extend or make use of the Package, do not, by themselves, cause the Package to be a Modified Version. In addition, such works are not considered parts of the Package itself, and are not subject to the terms of this license.</li>
</ol>

<h3>General Provisions</h3>

<ol start="10">
	<li>Any use, modification, and distribution of the Standard or Modified Versions is governed by this Artistic License. By using, modifying or distributing the Package, you accept this license. Do not use, modify, or distribute the Package, if you do not accept this license.</li>
	<li>If your Modified Version has been derived from a Modified Version made by someone other than you, you are nevertheless required to ensure that your Modified Version complies with the requirements of this license.</li>
	<li>This license does not grant you the right to use any trademark, service mark, tradename, or logo of the Copyright Holder.</li>
	<li>This license includes the non-exclusive, worldwide, free-of-charge patent license to make, have made, use, offer to sell, sell, import and otherwise transfer the Package with respect to any patent claims licensable by the Copyright Holder that are necessarily infringed by the Package. If you institute patent litigation (including a cross-claim or counterclaim) against any party alleging that the Package constitutes direct or contributory patent infringement, then this Artistic License to you shall terminate on the date that such litigation is filed.</li>
	<li><b>Disclaimer of Warranty:</b><br/>
		THE PACKAGE IS PROVIDED BY THE COPYRIGHT HOLDER AND CONTRIBUTORS "AS IS" AND WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES. THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT ARE DISCLAIMED TO THE EXTENT PERMITTED BY YOUR LOCAL LAW. UNLESS REQUIRED BY LAW, NO COPYRIGHT HOLDER OR CONTRIBUTOR WILL BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES ARISING IN ANY WAY OUT OF THE USE OF THE PACKAGE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</li>
</ol>

      </div></div>
  	</div>

  	<p>Original text: <a href='http://www.perlfoundation.org/artistic_license_2_0'>http://www.perlfoundation.org/artistic_license_2_0</a></p>
  </section>

  <section class='tab' id='ogl-tab'>
    <h2 id='ogl-tab-title'>OPEN GAME LICENSE Version 1.0a</h2>

    <div class='yui3-g'>
      <div class='yui3-u-1-2'><div class='col left'>
      	<p>The following text is the property of Wizards of the Coast, Inc. and is Copyright 2000 Wizards of the Coast, Inc ("Wizards"). All Rights Reserved.</p>

<ol>
<li><b>Definitions:</b>
	<dl>
		<dt>(a) "Contributors"</dt>
		<dd>means the copyright and/or trademark owners who have contributed Open Game Content;</dd>

		<dt>(b) "Derivative Material"</dt>
		<dd> means copyrighted material including derivative works and translations (including into other computer languages), potation, modification, correction, addition, extension, upgrade, improvement, compilation, abridgment or other form in which an existing work may be recast, transformed or adapted;</dd>

		<dt>(c) "Distribute"</dt>
		<dd>means to reproduce, license, rent, lease, sell, broadcast, publicly display, transmit or otherwise distribute;</dd>

		<dt>(d) "Open Game Content"</dt>
		<dd>means the game mechanic and includes the methods, procedures, processes and routines to the extent such content does not embody the Product Identity and is an enhancement over the prior art and any additional content clearly identified as Open Game Content by the Contributor, and means any work covered by this License, including translations and derivative works under copyright law, but specifically excludes Product Identity.</dd>

		<dt>(e) "Product Identity"</dt>
		<dd>means product and product line names, logos and identifying marks including trade dress; artifacts; creatures characters; stories, storylines, plots, thematic elements, dialogue, incidents, language, artwork, symbols, designs, depictions, likenesses, formats, poses, concepts, themes and graphic, photographic and other visual or audio representations; names and descriptions of characters, spells, enchantments, personalities, teams, personas, likenesses and special abilities; places, locations, environments, creatures, equipment, magical or supernatural abilities or effects, logos, symbols, or graphic designs; and any other trademark or registered trademark clearly identified as Product identity by the owner of the Product Identity, and which specifically excludes the Open Game Content;</dd>
		
		<dt>(f) "Trademark"</dt>
		<dd>means the logos, names, mark, sign, motto, designs that are used by a Contributor to identify itself or its products or the associated products contributed to the Open Game License by the Contributor</dd>

		<dt>(g) "Use", "Used" or "Using"</dt>
		<dd>means to use, Distribute, copy, edit, format, modify, translate and otherwise create Derivative Material of Open Game Content.</dd>

		<dt>(h) "You" or "Your"</dt>
		<dd>means the licensee in terms of this agreement.</dd>
	</dl>
</li>

<li><b>The License:</b><br/>
	This License applies to any Open Game Content that contains a notice indicating that the Open Game Content may only be Used under and in terms of this License. You must affix such a notice to any Open Game Content that you Use. No terms may be added to or subtracted from this License except as described by the License itself. No other terms or conditions may be applied to any Open Game Content distributed using this License.</li>

<li><b>Offer and Acceptance:</b><br/>
	By Using the Open Game Content You indicate Your acceptance of the terms of this License.</li>

<li><b>Grant and Consideration:</b><br/>
	In consideration for agreeing to use this License, the Contributors grant You a perpetual, worldwide, royalty-free, non-exclusive license with the exact terms of this License to Use, the Open Game Content.</li>

<li><b>Representation of Authority to Contribute:</b><br/>
	If You are contributing original material as Open Game Content, You represent that Your Contributions are Your original creation and/or You have sufficient rights to grant the rights conveyed by this License.</li>

<li><b>Notice of License Copyright:</b><br/>
	You must update the COPYRIGHT NOTICE portion of this License to include the exact text of the COPYRIGHT NOTICE of any Open Game Content You are copying, modifying or distributing, and You must add the title, the copyright date, and the copyright holder's name to the COPYRIGHT NOTICE of any original Open Game Content you Distribute.</li>

<li><b>Use of Product Identity:</b><br/>
	You agree not to Use any Product Identity, including as an indication as to compatibility, except as expressly licensed in another, independent Agreement with the owner of each element of that Product Identity. You agree not to indicate compatibility or co-adaptability with any Trademark or Registered Trademark in conjunction with a work containing Open Game Content except as expressly licensed in another, independent Agreement with the owner of such Trademark or Registered Trademark. The use of any Product Identity in Open Game Content does not constitute a challenge to the ownership of that Product Identity. The owner of any Product Identity used in Open Game Content shall retain all rights, title and interest in and to that Product Identity.</li>

<li><b>Identification:</b><br/>
	If you distribute Open Game Content You must clearly indicate which portions of the work that you are distributing are Open Game Content.</li>

<li><b>Updating the License:</b><br/>
	Wizards or its designated Agents may publish updated versions of this License. You may use any authorized version of this License to copy, modify and distribute any Open Game Content originally distributed under any version of this License.</li>

<li><b>Copy of this License:</b><br/>
	You MUST include a copy of this License with every copy of the Open Game Content You Distribute.</li>
</ol>

      </div></div>
      <div class='yui3-u-1-2'><div class='col right'>

<ol start="11">

<li><b>Use of Contributor Credits:</b><br/>
	You may not market or advertise the Open Game Content using the name of any Contributor unless You have written permission from the Contributor to do so.</li>

<li><b>Inability to Comply:</b><br/>
	If it is impossible for You to comply with any of the terms of this License with respect to some or all of the Open Game Content due to statute, judicial order, or governmental regulation then You may not Use any Open Game Material so affected.</li>

<li><b>Termination:</b><br/>
	This License will terminate automatically if You fail to comply with all terms herein and fail to cure such breach within 30 days of becoming aware of the breach. All sublicenses shall survive the termination of this License.</li>

<li><b>Reformation:</b><br/>
	If any provision of this License is held to be unenforceable, such provision shall be reformed only to the extent necessary to make it enforceable.</li>

<li><b>COPYRIGHT NOTICE</b>
	<dl>
		<dt>Open Game License v 1.0</dt>
		<dd>&copy; 2000, Wizards of the Coast, Inc.</dd>

		<dt>System Reference Document.</dt>
		<dd>&copy; 2000, Wizards of the Coast, Inc.; Authors Jonathan Tweet, Monte Cook, Skip Williams, based on material by E. Gary Gygax and Dave Arneson.</dd>

		<dt>Tome of Horrors.</dt>
		<dd>&copy; 2002, Necromancer Games, Inc.; Authors: Scott Greene, with Clark Peterson, Erica Balsley, Kevin Baase, Casey Christofferson, Lance Hawvermale, Travis Hawvermale, Patrick Lawinger, and Bill Webb; Based on original content from TSR.</dd>

		<dt>The Tome of Horrors, Revised.</dt>
		<dd>&copy; 2002, Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.</dd>

		<dt>The Tome of Horrors III.</dt>
		<dd>&copy; 2005, Necromancer Games, Inc.; Author: Scott Greene.</dd>

		<dt>Anger of Angels.</dt>
		<dd>&copy; 2003, Sean K Reynolds.</dd>
		
		<dt>Book of Fiends.</dt>
		<dd>&copy; 2003, Green Ronin Publishing; Authors: Aaron Loeb, Erik Mona, Chris Pramas, Robert J. Schwalb.</dd>

		<dt>The Book of Hallowed Might.</dt>
		<dd>&copy; 2002, Monte J. Cook.</dd>

		<dt>The Book of Experimental Might.</dt>
		<dd>&copy; 2008, Monte J. Cook. All rights reserved.</dd>

		<dt>Monte Cook’s Arcana Unearthed.</dt>
		<dd>&copy; 2003, Monte J. Cook.</dd>

		<dt>Path of the Magi.</dt>
		<dd>&copy; 2002 Citizen Games/Troll Lord Games; Authors: Mike McArtor, W. Jason Peck, Jeff Quick, and Sean K Reynolds.</dd>

		<dt>Skreyn’s Register: The Bonds of Magic.</dt>
		<dd>&copy; 2002, Sean K Reynolds.</dd>

		<dt>Material from SeanKReynolds.com.</dt>
		<dd>&copy; 2001, 2002 Sean K Reynolds. All rights reserved.</dd>


		<dt>Pathfinder RPG Core Rulebook.</dt>
		<dd>&copy; 2009, Paizo Publishing, LLC; Author: Jason Bulmahn, based on material by Jonathan Tweet, Monte Cook, and Skip Williams. The Book of Experimental Might. Copyright 2008, Monte J. Cook. All rights reserved.</dd>

		<dt>Advanced Player’s Guide.</dt>
		<dd>&copy; 2010, Paizo Publishing, LLC; Author: Jason Bulmahn.</dd>

		<dt>Pathfinder Roleplaying Game Ultimate Combat.</dt>
		<dd>&copy; 2011, Paizo Publishing, LLC; Authors: Jason Bulmahn, Tim Hitchcock, Colin McComb, Rob McCreary, Jason Nelson, Stephen Radney-MacFarland, Sean K Reynolds, Owen K.C. Stephens, and Russ Taylor.</dd>

		<dt>Pathfinder Roleplaying Game Ultimate Magic.</dt>
		<dd>&copy; 2011, Paizo Publishing, LLC; Authors: Jason Bulmahn, Tim Hitchcock, Colin McComb, Rob McCreary, Jason Nelson, Stephen Radney-MacFarland, Sean K Reynolds, Owen K.C. Stephens, and Russ Taylor.</dd>

		<dt>Pathfinder Roleplaying Game Mythic Adventures.</dt>
		<dd>&copy; 2013, Paizo Publishing, LLC; Authors: Jason Bulmahn, Stephen Radney-MacFarland, Sean K Reynolds, Dennis Baker, Jesse Benner, Ben Bruck, Jim Groves, Tim Hitchcock, Tracy Hurley, Jonathan Keith, Jason Nelson, Tom Phillips, Ryan Macklin, F. Wesley Schneider, Amber Scott, Tork Shaw, Russ Taylor, and Ray Vallese.</dd>

		<dt>Pathfinder Roleplaying Game Ultimate Campaign.</dt>
		<dd>&copy; 2013, Paizo Publishing, LLC; Authors: Jesse Benner, Benjamin Bruck, Jason Bulmahn, Ryan Costello, Adam Daigle, Matt Goetz, Tim Hitchcock, James Jacobs, Ryan Macklin, Colin McComb, Jason Nelson, Richard Pett, Stephen Radney-MacFarland, Patrick Renie, Sean K Reynolds, F. Wesley Schneider, James L. Sutter, Russ Taylor, and Stephen Townshend.</dd>

		<dt>Pathfinder Roleplaying Game Advanced Race Guide.</dt>
		<dd>&copy; 2012, Paizo Publishing, LLC; Authors: Dennis Baker, Jesse Benner, Benjamin Bruck, Jason Bulmahn, Adam Daigle, Jim Groves, Tim Hitchcock, Hal MacLean, Jason Nelson, Stephen Radney-MacFarland, Owen K.C. Stephens, Todd Stewart, and Russ Taylor.</dd>


		<dt>Psionics Unleashed.</dt>
		<dd>&copy; 2010, Dreamscarred Press.</dd>

		<dt>Psionics Expanded.</dt>
		<dd>Copyright 2011, Dreamscarred Press.</dd>


		<dt>Advanced Bestiary.</dt>
		<dd>&copy; 2004, Green Ronin Publishing, LLC; Author: Matthew Sernett.</dd>



		<dt>NeoExodus: A House Divided Campaign Setting.</dt>
		<dd>&copy; 2011, Louis Porter Jr. Design, Inc.</dd>

		<dt>Enemies of NeoExodus: The First Ones.</dt>
		<dd>&copy; 2011, Louis Porter Jr. Design, Inc.</dd>

		<dt>Enemies of NeoExodus: The Folding Circle.</dt>
		<dd>&copy; 2011, Louis Porter Jr. Design, Inc.</dd>

		<dt>NeoExodus Chronicles: Races of NeoExodus.</dt>
		<dd>&copy; 2011, Louis Porter Jr. Design, Inc.</dd>

		<dt>Secret Societies of NeoExodus: Order of the Kaga.</dt>
		<dd>&copy; 2011, Louis Porter Jr. Design, Inc.</dd>

		<dt>Secret Societies of NeoExodus: Sanguine Covenant.</dt>
		<dd>&copy; 2011, Louis Porter Jr. Design, Inc.</dd>

		<dt>Secret Societies of NeoExodus: Section Omega.</dt>
		<dd>&copy; 2011, Louis Porter Jr. Design, Inc.</dd>


		<dt>Character Sheets by Dyslexic Studeos.</dt>
		<dd>&copy; 2013, Marcus Downing.</dd>

	</dl>
</li>
</ol>
      </div></div>
  	</div>

  	<p>Original text: <a href='http://www.opengamingfoundation.org/ogl.html'>http://www.opengamingfoundation.org/ogl.html</a></p>
  </section>
}