@(message: String, author: String)

@main("Error!") {

    <header id='bodyheader'>
      <h1>Character Sheets by Dyslexic Studeos</h1>

      <nav class='tabs'>
        <ul>
          <li><a href='/'>&laquo; Back to intro</a></li>
          <li><a href='/message'>Leave a message</a></li>
          <li><a rel='#thanks-tab' class='selected'>Error!</a></li>
        </ul>
      </nav>
    </header>

    <section class='tab selected' id='thanks-tab'>
      <h2>Sorry, your message couldn't be sent</h2>
      <p>It's totally my fault. Try again later, I might have sorted it out.</p>
    </section>
}