/* General */

#body {
	padding-top: 60px;
}

body.home #nav-home a,
body.sources #nav-sources a,
body.entries #nav-entries a,
body.translate #nav-translate a,
body.import #nav-import a,
body.export #nav-export a,
body.users #nav-users a
{
  color: #80e0f8;
  border-bottom: 5px solid #80e0f8;
  margin-bottom: -1px;
}

#footer {
}

/* Navigation */

.page-options {
  float: right;
  margin-top: -40px;
}

.pagination {
  margin: 5px 0 5px 10px;
}

.pagination a {
  /* margin: 0 5px; */
}

.page-options label {
  margin-top: -25px;
  float: left;
  width: 1px;
}

form.panel-view-form {
  margin: 0;
  padding: 8px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}


/* Registration and Sign In */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Users */

#users-table td {
  vertical-align: middle;
}

.lang-profile {
  padding-bottom: 8px;
}

.lang-counts {
  line-height: 2;
}

.lang-count {
  text-decoration: none !important;
  white-space: nowrap;
  margin-right: 4px;
}

.lang-count .badge {
  background: #4080d0;
  margin-left: 5px;
}

.lang-count-mine { color: #449d44; }
.lang-count-mine .badge { background-color: #449d44; }

.lang-count-both { color: #ec971f; }
.lang-count-both .badge { background-color: #ec971f; }

.lang-count-conflict { color: #c9302c; }
.lang-count-conflict .badge { background-color: #c9302c; }

.lang-count-other { color: #31b0d5; }
.lang-count-other .badge { background-color: #31b0d5; }



/* Sources */

body.sources ol.breadcrumb {
  margin-bottom: 0;
  background: none;
  white-space: nowrap;
}

body.sources .progress {
  margin-bottom: 0;
}

body.sources td {
  vertical-align: middle !important;
}

body.sources tr:hover td {
  background: #fff2b0 !important;
}

body.sources .breadcrumb > li + li:before {
  padding-left: 10px;
}

.equal-th {
  min-width: 150px;
  white-space: nowrap;
}

.modal table ol.breadcrumb {
  margin-bottom: 0;
  background: none;
  white-space: nowrap;
}



/* Translation form */

#form-translate tr.untranslated td {
  background: #fff2b0;
  border-top-color: #d0b880;
}
#form-translate tr.untranslated + tr td {
  border-top-color: #d0b880;
}

#form-translate tr.untranslated .badge {
  background: #d8a800;
}

#form-translate td.original {
  width: 40%;
  min-width: 300px;
}

#form-translate td.translation {
  min-width: 600px;
  white-space: nowrap;
}

#form-translate td, #form-translate th {
  vertical-align: middle;
}

#form-translate td.translation table {
  width: 100%;
}




label.part {
  border-right: 1px solid #d0d0d0;
  padding-right: 14px;
  margin-right: 10px;
  clear: both;
}

/*.vote {
  float: right;
  clear: right;
  margin-bottom: 4px;
}*/

.vote-cell {
  width: 60px;
  text-align: right;
}

tr.untranslated label.part {
  border-right-color: #d0b060;
}

label.part:last-child {
  border-right: 0 none;
  margin-right: 0;
}

td.translate-2-parts input {
  width: 50% !important;
}

td.translate-3-parts input {
  width: 33% !important;
}

td.translate-4-parts input {
  width: 25% !important;
}

td.translate-5-parts input {
  width: 20% !important;
}

td.btn-cell {
  width: 32px;
  white-space: nowrap;
  padding: 4px 8px !important;
}

td.btn-cell a.no-comments {
  color: #aaa;
}


tr.other-translation {
  margin-bottom: 4px;
}
tr.my-translation {
  display: none;
}
tr.with-translation tr.my-translation {
  display: table-row;
}
tr.with-translation a.reveal-my-translation {
  display: none;
}
.my-translation input {
  font-weight: bold;
}

span.my-translation-arrow-score {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 9px solid #bbb;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  margin-right: -8px;
  position: relative;
  top: 5px;
}

span.my-translation-arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 8px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-right: -5px;
  position: relative;
  top: 4px;
}