@(gameData: models.GameData, iconics: Map[String, Map[String, List[models.IconicImage]]])

@import IconicImage.slug
@import controllers.Application.isAprilFool
@import controllers.Application.useLanguages

@main(if (isAprilFool) "Pimp My Character!" else "Build My Character: "+gameData.name) {
  <form action='/pdf/@gameData.game' method='post' id='build-my-character' enctype='multipart/form-data'>
    <header id='bodyheader'>
      <h1>Character Sheets by Dyslexic Studeos</h1>

      <nav class='tabs'>
        <ul>
          <li><a href='/'>&laquo; Back to intro</a></li>
          <li><a rel='#start-tab' class='selected' id='start-tab-link'>Start</a></li>
          <li><a rel='#party-tab' class='start-hidden' id='party-tab-link'>Party</a><li>
          <li><a rel='#class-tab' class='start-hidden' id='class-tab-link'>Class</a></li>
          @if(!gameData.isTest) {
            <li><a rel='#options-tab' class='start-hidden' id='options-tab-link'>Options</a></li>
          }
          <li><a rel='#download-tab' class='start-hidden' id='download-tab-link'>Download</a></li>
        </ul>
      </nav>
    </header>

    
    <section class='tab selected' id='start-tab'>
      <h2 id='start-tab-title'>@gameData.name</h2>
      
      <!-- 
        translations
      -->
      @if(useLanguages) {
        <p>
          <label for="language">Language</label>
          <select name="language">
            <option value='' selected>English</option>
            <option value='italian'>Italiano</option>
            <option value='french'>Français</option>
            <option value='spanish'>Español</option>
            <option value='american'>American English</option>
          </select>
        </p>
      }

      <div id='start-options'>
        <a id='start-single'>
          <img src='@routes.Assets.at("images/single.png")'/>
          One character
        </a><a id='start-party'>
          <img src='@routes.Assets.at("images/party.png")'/>
          A Whole party
        </a><a id='start-gm'>
          <img src='@routes.Assets.at("images/gm.png")'/>
          @(if(gameData.isDnd35) "Dungeon Master" else "Game Master")
        </a>
      </div>

      <input type='hidden' id='start-type' name='start-type'/>
    </section>

    <section class='tab' id='party-tab'>
      <h2 id='party-tab-title'>Your party so far</h2>

      <div id='party-readout'>
        <input type='hidden' name='charids' value='' id='charids' />
        <ul>
        </ul>
      </div>

      <nav id='party-nav'>
        <a href='#class-tab' class='button'>Build another character</a>
      </nav>
    </section>

    <section class='tab' id='class-tab'>
      <h2 id="class-tab-title">Class</h2>

      <fieldset>
        <div class='yui3-g'>
        @for(col <- gameData.layout) {
          <div class='yui3-u-1-@gameData.layout.length'>
          @for(bookName <- col; book <- gameData.bookByName(bookName)) {
            <h3>@book.name</h3>
            <ul>
            @for(clsName <- book.classes; cls <- gameData.classByName(clsName)) {
              <li>
                <input type='checkbox' name='class-@cls.name' id='class-@cls.code'/>
                <label for='class-@cls.code'>@cls.name</label>
                @if(!cls.variants.isEmpty) {
                  <select name='variant-@cls.code'>
                  @for(variant: VariantClass <- cls.variants) {
                    <option value='@variant.name'>@variant.name</option>
                  }
                  </select>
                }
              </li>
            }
            </ul>
          }
          </div>
        }
        </div>
      </fieldset>

      <!--
      <h2>@(if(gameData.isDnd35) "Dungeon Master" else "Game Master")</h2>
      <fieldset id='gm'>
        <p><label><input type='checkbox' name='gm' id='gm' /> Include the Dungeon Master's pages</label></p>
        <p class="indent">Maps, timelines, party summary and and NPC character sheets.</p>
        <p><label><input type='checkbox' name='party-download' id='party-download' /> Prepare sheets for the whole party at once</label></p>
        <p class="indent">This will include all possible sheets for the above classes, rather than selecting the sheets for a single character.
          Use this to download all the pages you might need for an entire party.
        </p>
      </fieldset>
      -->

      <nav class='wizardnav'>
        &nbsp;
        <a href='#options-tab'><img src='@routes.Assets.at("images/wiznext.png")'/></a>
      </nav>
    </section>

    <section class='tab' id='options-tab'>
      <aside id='iconic'>
        <img src='@routes.Assets.at("images/iconics/generic.png")' id='iconic-default' class='selected' />
        @for((groupName, groupSets) <- iconics; (setName, setImages) <- groupSets; image <- setImages) {
          <img data-src='@routes.Assets.at(image.smallFile)' id='iconic_@image.id'/>
        }
      </aside>

      <h2 id="options-tab-title">Options</h2>

      <fieldset>
        @if(gameData.isDnd35) {
          <label for="simple"><input type="checkbox" name="simple" id="simple">Simpler version</label>
          <p>The simplified version does not have a separate sheet for inventory and equipment, instead merging these onto the core sheets. This is only recommended for low-level characters, and is not compatible with the Barbarian or Psionic characters.</p>
        }

        <p><label for="spellbook-size">Spellbook style</label>
          <select name="spellbook-size" id="spellbook-size">
              <option value="small">Small entries</option>
              <option value="medium" selected>Normal entries</option>
              <option value="large">Large entries</option>
          </select></p>
    
        <p><label for="inventory-style">Inventory style</label>
          <select name="inventory-style" id="inventory-style">
              <option value="auto" selected>Auto-detect</option>
              <option value="with">With wands, scrolls and potions</option>
              <option value="without">Without wands, scrolls and potions</option>
          </select></p>

        <input type='hidden' name='inventory-iconic' id='inventory-iconic' value='default'/>
        <input type='hidden' name='inventory-iconic-small-src' id='inventory-iconic-small-src' value='/assets/images/iconics/generic.png'/>

        <p><label for="inventory-iconic">Iconic character image</label>
          <select name="inventory-iconic-set" id="inventory-iconic-set">
            <option value='default' selected>Generic</option>
            <option value='custom'>My own picture</option>
            @for((groupName, groupSets) <- iconics; if !groupSets.isEmpty) {
              <optgroup label='@groupName'>
                @for((setName, setImages) <- groupSets) {
                  <option value='@{slug(groupName)+"--"+slug(setName)}' rel='#inventory-iconic-set-@{slug(groupName)+"--"+slug(setName)}'>@setName</option>
                }
              </optgroup>
            }
          </select></p>

          @for((groupName, groupSets) <- iconics; (setName, setImages) <- groupSets; if !setImages.isEmpty) {
            <p><select class='inventory-iconic-set' id='inventory-iconic-set-@{slug(groupName)+"--"+slug(setName)}' style='display: none;'>
              @for(image <- setImages) {
                <option value='@image.path' rel='#iconic_@image.id'>@image.name</option>
              }
            </select></p>
          }

          <fieldset id='inventory-iconic-custom' style='display: none;'>
            <p><label for='iconic-custom-file'>File</label>
              <input type='file' name='iconic-custom-file' id='iconic-custom-file'/></p>
          </fieldset>

        <h3>Additional pages</h3>
          <p><label for="include-background"><input type="checkbox" name="include-background" id="include-background" /> Include character background</label></p>
          <p><label for="include-party-funds"><input type="checkbox" name="include-party-funds" id="include-party-funds" /> Include party funds</label></p>

        <h3>Watermark</i>
          <p><label for='has-watermark'><input type="checkbox" name="has-watermark" id="has-watermark" /> Watermark every page</label></p>
          <p><input type='text' name='watermark' id='watermark'/></p>

        @if(isAprilFool) {
          <!--<p><label for='no-april-fool'><input type="checkbox" name="no-april-fool" id="no-april-fool" /> Suppress modifications for 1st April</label></p>-->
        }
      </fieldset>

      <nav class='wizardnav'>
        <a href='#class-tab'><img src='@routes.Assets.at("images/wizprev.png")'/></a>
        &nbsp;
        <a href='#download-tab'><img src='@routes.Assets.at("images/wiznext.png")'/></a>
      </nav>
    </section>

    <section class='tab' id='download-tab'>

      <h2>Printing Colour</h2>
      <fieldset id='colours'>
        <div class="yui3-g">
          <div class="yui3-u-1-3">
              <label for="colour-light"><span><input type="radio" id="colour-light" name="colour" value="light"/></span> Lighter</label>
              <label for="colour-normal"><span><input type="radio" id="colour-normal" name="colour" value="normal" checked/></span> Normal</label>
              <label for="colour-dark"><span><input type="radio" id="colour-dark" name="colour" value="dark"></span> Darker</label>
              <label for="colour-black"><span><input type="radio" id="colour-black" name="colour" value="black"></span> Black</label>
          </div>
          <div class="yui3-u-1-3">
              <label for="colour-red"><span><input type="radio" id="colour-red" name="colour" value="red"></span> Red</label>
              <label for="colour-orange"><span><input type="radio" id="colour-orange" name="colour" value="orange"></span> Orange</label>
              <!-- <label for="colour-yellow"><span><input type="radio" id="colour-yellow" name="colour" value="yellow"></span> Yellow</label> -->
              <label for="colour-lime"><span><input type="radio" id="colour-lime" name="colour" value="lime"></span> Lime</label>
              <label for="colour-green"><span><input type="radio" id="colour-green" name="colour" value="green"></span> Green</label>
          </div>
          <div class="yui3-u-1-3">
              <label for="colour-cyan"><span><input type="radio" id="colour-cyan" name="colour" value="cyan"></span> Cyan</label>
              <label for="colour-blue"><span><input type="radio" id="colour-blue" name="colour" value="blue"></span> Blue</label>
              <label for="colour-purple"><span><input type="radio" id="colour-purple" name="colour" value="purple"></span> Purple</label>
              <label for="colour-pink"><span><input type="radio" id="colour-pink" name="colour" value="pink"></span> Pink</label>
          </div>
        </div>
      </fieldset>

      <h2>Download</h2>
        <p class='center'>
          <a class='button' id='add-to-party'>Add to Party</a>
          <input type="submit" value="Download"/>
        </p>

      <nav class='wizardnav'>
        <a href='#options-tab'><img src='@routes.Assets.at("images/wizprev.png")'/></a>
        &nbsp;
      </nav>
    </section>
}
