@(message: String, author: String)

@main("Thanks!") {

    <header id='bodyheader'>
      <h1>Character Sheets by Dyslexic Studeos</h1>

      <nav class='tabs'>
        <ul>
          <li><a href='/'>&laquo; Back to intro</a></li>
          <li><a href='/message'>Leave a message</a></li>
          <li><a rel='#thanks-tab' class='selected'>Thanks!</a></li>
        </ul>
      </nav>
    </header>

    <section class='tab selected' id='thanks-tab'>
      <div id='messageform' class='messageform-thanks'><div class='inner'>
        <h2>Thanks for the message!</h2>
          <div id='message'>@message</div>
          <div id='author'>@author</div>
        </form>
      </div></div>
    </section>
}