<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8">
<title>Reclaim account</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/translator.css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="/images/favicon.png">

</head>
<body>

<div class="container">

  <form class="form-signin" role="form" method="post" action="/account/reclaim">
  	<input type='hidden' name='email' value='{{ .Email }}'>
  	<input type='hidden' name='secret' value='{{ .Secret }}'>
    <h2 class="form-signin-heading">Reclaim account</h2>
    <p>Enter a new password below.</p>

	<div class='form-group'>
		<label for='user-password'>New password</label>
    	<input type='password' name='password' id='user-password' class='form-control' value='' autocomplete='off'>

		<label for='user-password'>Strength</label>
    	<div id='password-messages'>
    		<p id='password-progress'></p>
    	</div>

	    <label for='user-password2'>Confirm password</label>
		<input type='password' name='password2' id='user-password2' class='form-control' value='' autocomplete='off'>
	</div>

	<button type='submit' class='btn btn-warning btn-block'><span class="glyphicon glyphicon-save"></span>&nbsp; Set password</button>
  </form>

</div>

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="/js/pwstrength-bootstrap-1.0.1.min.js"></script>
<script>

$(function () {
	$("#user-password").pwstrength({
		ui: {
			container: '#password-messages',
			viewports: {
				progress: '#password-progress'
			}
		}
	});
});

</script>

</body>
</html>