{{ define "title" }}Account Settings{{ end }}

{{ define "content" }}

<div class='container'>

<form method='post' action='/account' class='' role='form'>

<p>&nbsp;</p>
<div class='panel panel-warning'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-lock"></span>&nbsp; Change password</h3></div>
	<div class="panel-body">
	  <div class='form-group'>
	    <div class='row'>
	    	<div class='col-xs-8'>
	    		<label for='user-password'>New password</label>
		    	<input type='password' name='password' id='user-password' class='form-control' value='' autocomplete='off'>
		    </div><div class='col-xs-4'>
	    		<label for='user-password'>Strength</label>
		    	<div id='password-messages'>
		    		<p id='password-progress'></p>
		    	</div>
			</div>
		</div>
	  </div>

	  <div class='form-group'>
	    <label for='user-password2'>Confirm password</label>
	    <div class='row'>
	    	<div class='col-xs-8'>
	    		<input type='password' name='password2' id='user-password2' class='form-control' value='' autocomplete='off'>
	    	</div>
		</div>
	  </div>
	</div>

	<div class="panel-footer">
		<button type='submit' class='btn btn-warning'><span class="glyphicon glyphicon-save"></span>&nbsp; Save</button>
		<a href='/account' class='btn btn-link'><span class="glyphicon glyphicon-remove"></span> Cancel</a>
	</div>
</div>

</form>

</div>{{/* container */}}

<script src="/js/pwstrength-bootstrap-1.0.1.min.js"></script>
<script>

$(function () {
	$("#user-password").pwstrength({
		ui: {
			container: '#password-messages',
			viewports: {
				progress: '#password-progress'
			}
		}
	});
});

</script>
{{ end }}