{{ define "title" }}Entries{{ end }}

{{ define "content" }}

<div class='container'>
<h1><span class="glyphicon glyphicon-certificate"></span>&nbsp; Entries</h1>

<form class='form-inline page-options' name='page-options' action='/entries' role='form'>
	<input type='hidden' name='language' value='{{ .CurrentLanguage }}'>

	<div class="form-group">
		<label for='options-game'>Game</label>
		<select id='options-game' name='game' class='form-control'>
			<option value='' {{ if eq .CurrentGame "" }}selected{{ end }}>All</option>
			<option value='pathfinder' {{ if eq .CurrentGame "pathfinder" }}selected{{ end }}>Pathfinder</option>
			<option value='dnd35' {{ if eq .CurrentGame "dnd35" }}selected{{ end }}>Dungeons &amp; Dragons 3.5</option>
		</select>
	</div>

	<div class="form-group">
		<label for='options-level'>Sources</label>
		<select id='options-level' name='level' class='form-control'>
			<option value='0' {{ if eq .CurrentLevel "0" }}selected{{ end }}>All Sources</option>
			<option value='1' {{ if eq .CurrentLevel "1" }}selected{{ end }}>Core Rules</option>
			<option value='2' {{ if eq .CurrentLevel "2" }}selected{{ end }}>Advanced Rules</option>
			<option value='3' {{ if eq .CurrentLevel "3" }}selected{{ end }}>Further Rules</option>
			<option value='4' {{ if eq .CurrentLevel "4" }}selected{{ end }}>Third Party and Extended</option>
		</select>
	</div>

	<div class="form-group">
		<label for='options-show'>Show</label>
		<select id='options-show' name='show' class='form-control'>
			<option value='' {{ if eq .CurrentShow "" }}selected{{ end }}>All lines</option>
			<option value='translated' {{ if eq .CurrentShow "translated" }}selected{{ end }}>Translated</option>
			<option value='untranslated' {{ if eq .CurrentShow "untranslated" }}selected{{ end }}>Untranslated</option>
		</select>
	</div>

	{{ pagination .Page }}
</form>

</div>


<table class='table table-striped table-hover'>

{{ $languages := .DisplayLanguages }}
<thead>
	<tr>
		<th></th>
		<th><img src='/images/flags/gb.png'>&nbsp; Original</th>
		{{ range $lang := $languages }}
		<th class='btn-cell'><img src='/images/flags/{{ $lang }}.png'></th>
		{{ end }}
		<th></th>
	</tr>
</thead>

<tfoot>
	<tr><td colspan='3'></td><td colspan='{{ len $languages }}'></td></tr>
</tfoot>

<tbody>
{{ range $i, $entry := .Entries }}
{{ $translations := countEntryTranslations $entry }}
<tr>
	<td class='btn-cell'><span class='badge'>{{ $entry.Count }}</span></td>
	<td class='original'>
		{{ range $j, $part := $entry.Entries }}
		<label class='part' for='part-{{ $i }}-{{ $j }}'>
			{{ $part.Original }}
		</label>
		{{ end }}
	</td>

	{{ range $lang := $languages }}
	{{ $count := index $translations $lang }}
	<td class='btn-cell'>
		{{ if gt $count 0 }}
			<img src='/images/flags/{{ $lang }}.png'>
			{{ if gt $count 1 }}
				<span class='badge'>{{ $count }}</span>
			{{ end }}
		{{ end}}
	</td>
	{{ end }}

	<td></td>
</tr>
{{ end }}
</tbody>


</table>

{{ end }}
