{{ define "title" }}Dashboard{{ end }}

{{ define "content" }}

<div class='container'>
<h1>Dyslexic Studeos Character Sheets Translator</h1>

<div class='row'>



<div class='col-sm-4'>
<div class='panel panel-primary'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span>&nbsp; Completion summary</h3></div>
	<table class='table'>
		{{ $languageNames := .LanguageNames }}
		{{ $languageCompletions := .LanguageCompletion }}
		{{ range $lang := .DisplayLanguages }}
		{{ $languageName := index $languageNames $lang }}
		{{ $languageCompletion := index $languageCompletions $lang }}
		<tr>
			<td colspan='4'><img src='/images/flags/{{$lang}}.png'>&nbsp; {{ $languageName }}</td>
		</tr>
		<tr>
			{{ range $complete := $languageCompletion }}
			{{ $col := percentColour $complete }}
			<td>
				<div class="progress">
				  <div class="progress-bar progress-bar-{{$col}}" role="progressbar" aria-valuenow="{{$complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{$complete}}%;">
				    <span class="sr-only">{{$complete}}% Complete</span>
				  </div>
				</div>
			</td>
			{{ end }}
		</tr>
		{{ end }}
	</table>
</div>
</div>



{{/*
<div class='col-sm-4'>
<div class='panel panel-info'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span>&nbsp; Recent Translations</h3></div>
	<table class='table'>
	<tr>
		<td>Knowledge: Dungeoneering</td>
		<td><img src='http://www.gravatar.com/avatar/85da34890f23a1fbd629bacc8b6bb81a?s=24'></td>
		<td><img src='/images/flags/it.png'></td>
		<td>Conoscenze: Dungeon</td>
	</tr>
	</table>
	<div class='panel-footer'>
		<a class='btn btn-primary btn-sm' href='/translate'><span class="glyphicon glyphicon-globe"></span>&nbsp; Translate</a> 
	</div>
</div>

<div class='panel panel-success'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>&nbsp; Comments</h3></div>
	<table class='table'>
	<tr>
		<td><a href=''>Inventory</a></td>
		<td><img src='http://www.gravatar.com/avatar/85da34890f23a1fbd629bacc8b6bb81a?s=24'></td>
		<td>Lorem ipsum dolor sit amet...</td>
	</tr>
	</table>
</div>
</div>
*/}}



<div class='col-sm-4'>


<div class='panel panel-success'>
	<div class='panel-heading'><h3 class='panel-title'><span class="glyphicon glyphicon-globe"></span>&nbsp; 
		{{ if .CurrentUser.IsAdmin }}Translation summary{{ else }}My translations{{ end }}</h3></div>
	<div class='panel-body'>

		{{ $currentUser := .CurrentUser }}
		{{ range $lang, $profile := profileTranslations .CurrentUser }}
			<p>
				<img src='/images/flags/{{ $lang }}.png'> &nbsp; 
				{{ index $languageNames $lang }}
			</p>
			<p>
				{{ if $profile.ByMeAlone }}
					<a class='lang-count lang-count-mine' href='/translate?language={{ $lang }}'>
						<span class='badge'>{{ $profile.ByMeAlone }}</span> by me
					</a>
				{{ end }}
				{{ if $profile.ByMeAndOthers }}
					<a class='lang-count lang-count-conflict' href='/translate?language={{ $lang }}'>
						<span class='badge'>{{ $profile.ByMeAndOthers }}</span> conflicts
					</a>
				{{ end }}
				{{ if $profile.ByOthersAlone }}
					<a class='lang-count lang-count-other' href='/translate?language={{ $lang }}'>
						<span class='badge'>{{ $profile.ByOthersAlone }}</span> by others
					</a>
				{{ end }}
			</p>
			<div class="progress">
				<div class="progress-bar progress-bar-success" style="width: {{ $profile.ByMePercent }}%">
					<span class="sr-only">{{ $profile.ByMePercent }}% completed by me</span>
				</div>
				<div class="progress-bar progress-bar-warn" style="width: {{ $profile.ByMeAndOthersPercent }}%">
					<span class="sr-only">{{ $profile.ByMeAndOthersPercent }}% completed by me</span>
				</div>
				<div class="progress-bar progress-bar-info" style="width: {{ $profile.ByOthersPercent }}%">
					<span class="sr-only">{{ $profile.ByOthersPercent }}% completed by me</span>
				</div>
			</div>
		{{ end }}
	</div>
	<div class="panel-footer">
		<a class='btn btn-success' href='/translate'><span class="glyphicon glyphicon-globe"></span>&nbsp; Translate</a> &nbsp;
		<a class='btn btn-link' href='/sources'><span class="glyphicon glyphicon-book"></span>&nbsp; Sources</a>
		<a class='btn btn-link' href='/entries'><span class="glyphicon glyphicon-certificate"></span>&nbsp; Entries</a>
	</div>
</div>

{{/*
<div class='panel panel-primary'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span>&nbsp; Help</h3></div>
	<div class='panel-body'>
		<p><a href='/help/1'>How to translate</a></p>
		<p><a href='/help/2'>How to compare translations</a></p>
		<p><a href='/help/3'>How to comment on translations</a></p>
		<p><a href='/help/4'>How to check my progress</a></p>
	</div>
	<div class="panel-footer">
		<a class='btn btn-link btn-sm' href='/help'><span class="glyphicon glyphicon-question-sign"></span>&nbsp; More help</a> &nbsp; 
		<a class='btn btn-link btn-sm' href='/help/ask'><span class="glyphicon glyphicon-comment"></span>&nbsp; Ask a question</a>
	</div>
</div>
*/}}

</div>



<div class='col-sm-4'>

<div class='panel panel-info'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp; Your Account</h3></div>
	<div class='panel-body'>
		<p><img src='http://www.gravatar.com/avatar/{{ md5 .CurrentUser.Email }}?s=32'>&nbsp; <b>{{ .CurrentUser.Name }}</b></p>
		<p>Preferred language: &nbsp; <img src='/images/flags/{{.CurrentUser.Language}}.png'> {{ index .LanguageNames .CurrentUser.Language }}</p>
		{{ if .CurrentUser.IsLanguageLead }}<p><span class='glyphicon glyphicon-chevron-up'></span>&nbsp; You are language lead for {{ index .LanguageNames .CurrentUser.Language }}</p>{{ end }}
		{{ if .CurrentUser.IsAdmin }}<p><span class='glyphicon glyphicon-star'></span>&nbsp; You are administrator</p>{{ end }}
	</div>
	<div class="panel-footer">
		<a class='btn btn-link btn-sm' href='/account'><span class="glyphicon glyphicon-user"></span>&nbsp; Account settings</a> &nbsp; 
		<a class='btn btn-warning btn-sm' href='/logout'><span class="glyphicon glyphicon-lock"></span>&nbsp; Log out</a>
	</div>
</div>



{{ if .IsAdmin }}
<div class='panel panel-info'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp; Recent users</h3></div>
	<table class='table'>
	{{ range $recent := .RecentUsers }}
	<tr>
		<td><img src='http://www.gravatar.com/avatar/{{ md5 $recent.User.Email }}?s=32'></td>
		<td>{{ $recent.User.Name }}<br/>{{ $recent.LoggedInFor }}</td>
		<td><img src='/images/flags/{{ $recent.User.Language }}.png'></td>
	</tr>
	{{ end }}
	</table>
	<div class="panel-footer">
		<a class='btn btn-primary btn-sm' href='/users/add'><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user"></span>&nbsp; Add a user</a> 
		<a class='btn btn-link btm-sm' href='/users'><span class="glyphicon glyphicon-user"></span>&nbsp; Users</a>
	</div>
</div>
{{ end }}
</div>



</div>{{/* row */}}

</div>{{/* container */}}
{{ end }}