{{ define "title" }}Import{{ end }}

{{ define "content" }}

<div class='container'>
<h1><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Import</h1>



<p>&nbsp;</p>
<div class='row'>
	<div class='col-xs-6'>
		<form method='post' action='/import' enctype='multipart/form-data'>
			<div class='panel panel-info'>
				<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Import master entries</h3></div>
				<div class="panel-body">

					<input type='hidden' name='type' value='master'>
					<div class='form-group'>
						<label for='import-file'>Select CSV File</label>
						<input type='file' name='import-file'>
					</div>

					<!--<div class='form-group'>
						<label for='clean-entries'>
							<input type='checkbox' name='clean' id='clean-entries'/>&nbsp;
							Clean import (remove existing entries)
						</label>
					</div>-->

				</div>

				<div class="panel-footer">
					<button type='submit' class='btn btn-primary'><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Submit</button>
				</div>
			</div>
		</form>
	</div>
	<div class='col-xs-6'>
		<form method='post' action='/import' enctype='multipart/form-data'>
			<div class='panel panel-warning'>
				<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Import translations</h3></div>
				<div class="panel-body">

					<input type='hidden' name='type' value='translations'>
					<div class='form-group'>
						<label for='import-file'>Select CSV File</label>
						<input type='file' name='import-file'>
					</div>

					<div class='form-group'>
						<label for='language'>Language</label>
						<select name='language' id='language'>
							{{ $languageNames := .LanguageNames }}
							{{ range $language := .Languages }}
								<option value='{{ $language }}'>{{ index $languageNames $language }}</option>
							{{ end}}
						</select>
					</div>

					<div class='form-group'>
						<label for='translator'>Translator</label>
						<select name='translator' id='translator'>
							{{ range $user := .Users }}
								<option value='{{ $user.Email }}'>{{ $user.Name }} ({{ $user.Language }})</option>
							{{ end }}
						</select>
					</div>
					
				</div>

				<div class="panel-footer">
					<button type='submit' class='btn btn-warning'><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>


</div>{{/* container */}}
{{ end }}
