{{ define "title" }}Import{{ end }}

{{ define "content" }}

<div class='container'>
<h1>&nbsp;</h1>

<div class='panel panel-info'>
	<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Import processing</h3></div>
	<div class="panel-body">
		<p>The import has begun processing in the background.</p>

		<div class="progress progress-striped active">
			<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				<span class="sr-only">45% Complete</span>
			</div>
		</div>

		<p>Please be patient while it's processed.</p>
	</div>

	<div class="panel-footer">
		<a href='/home' class='btn btn-link'><span class="glyphicon glyphicon-home"></span> Home</a> &nbsp;
		<a href='/master' class='btn btn-link'><span class="glyphicon glyphicon-record"></span> Master List</a> &nbsp;
		<a href='/translate' class='btn btn-link'><span class="glyphicon glyphicon-globe"></span> Translate</a>
	</div>
</div>


</div>{{/* container */}}
{{ end }}