<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8">
<title>Sign In</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/translator.css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="/images/favicon.png">

</head>
<body>

<div class="container">

  <form class="form-signin" role="form" method="post" action="/login">
    <h2 class="form-signin-heading">Sign in</h2>
    <input type="email" class="form-control" name="email" placeholder="Email address" required autofocus>
    <input type="password" class="form-control" name="password" placeholder="Password" required>
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    
    <a class='btn btn-default btn-block' href='/account/reclaim'><span class="glyphicon glyphicon-envelope"></span>&nbsp;  Reclaim account</a>
  </form>

</div>

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
