{{ define "title" }}Master list{{ end }}

{{ define "content" }}

<form role='form' id='form-translate' class='form-inline'>
<table class='table table-striped table-hover'>


<thead>
	<tr>
		<th><img src='/images/flags/gb.png'>&nbsp; Original</th>
		<th><span class='glyphicon glyphicon-book'></span>&nbsp; Sources</th>
	</tr>
</thead>

<tbody>
{{ range $i, $entry := .Entries }}
<tr>
	<td>
		{{ range $j, $part := $entry.Entries }}
		<label class='part' for='part-{{ $i }}-{{ $j }}'>
			{{ $part.Original }}
		</label>
		{{ end }}
	</td>
	<td>
		<a href='/sources/'>Character Info</a>, <a href='/sources/'>Barbarian - Character Info</a>, <a href='/sources/'>Ranger - Character Info</a>, <a href='/sources/'>Eidolon</a>, <a href='/sources/'>World Walker - Character Info</a>, <a href='/sources/'>Psionics - Character Info</a>
	</td>
</tr>
{{ end }}
</tbody>


</table>
</form>

{{ end }}
