{{ define "title" }}Sources{{ end }}

{{ define "content" }}

<div class='container'>
<h1><span class="glyphicon glyphicon-book"></span>&nbsp; Sources</h1>

<form class='form-inline page-options' name='page-options' action='/sources' role='form'>
	<input type='hidden' name='language' value='{{ .CurrentLanguage }}'>

	<div class="form-group">
		<label for='options-game'>Game</label>
		<select id='options-game' name='game' class='form-control'>
			<option value='' {{ if eq .CurrentGame "" }}selected{{ end }}>All</option>
			<option value='pathfinder' {{ if eq .CurrentGame "pathfinder" }}selected{{ end }}>Pathfinder</option>
			<option value='dnd35' {{ if eq .CurrentGame "dnd35" }}selected{{ end }}>Dungeons &amp; Dragons 3.5</option>
		</select>
	</div>

	<div class="form-group">
		<label for='options-level'>Sources</label>
		<select id='options-level' name='level' class='form-control'>
			<option value='0' {{ if eq .CurrentLevel "0" }}selected{{ end }}>All Sources</option>
			<option value='1' {{ if eq .CurrentLevel "1" }}selected{{ end }}>Core Rules</option>
			<option value='2' {{ if eq .CurrentLevel "2" }}selected{{ end }}>Advanced Rules</option>
			<option value='3' {{ if eq .CurrentLevel "3" }}selected{{ end }}>Further Rules</option>
			<option value='4' {{ if eq .CurrentLevel "4" }}selected{{ end }}>Third Party and Extended</option>
		</select>
	</div>

	{{ pagination .Page }}
</form>

</div>

{{ $languages := .DisplayLanguages }}
<table class='table table-striped table-hover'>

	<thead>
		<tr>
			<th class='btn-cell'></th>
			<th><span class="glyphicon glyphicon-book"></span>&nbsp; Page</th>
			{{ $languageNames := .LanguageNames }}
			{{ range $lang := .DisplayLanguages }}
			<th>
				<div class='equal-th'>
					<img src='/images/flags/{{$lang}}.png'>&nbsp; 
					{{ index $languageNames $lang }}
				</div>
			</th>
			<th class='btn-cell'></th>
			{{ end }}
		</tr>
	</thead>

	<tfoot>
		<tr><td colspan='2'></td><td colspan='{{ len $languages }}'></td><td colspan='{{ len $languages }}'></td><tr>
	</tfoot>

	{{ range $source := .Sources }}
	<tr>
		<td class='btn-cell'>
			<a href="{{ sourceURL $source }}" class='btn btn-default btn-sm'><span class='glyphicon glyphicon-book'></span></a>
		</td>
		<td>
			<a href="{{ sourceURL $source }}">{{ sourcePath $source }}</a>
		</td>
		{{ $sourceCompletion := sourceCompletion $source }}
		{{ range $lang := $languages }}
			{{ $complete := index $sourceCompletion $lang }}
			{{ $col := percentColour $complete }}
			<td>
				<div class="progress">
				  <div class="progress-bar progress-bar-{{$col}}" role="progressbar" aria-valuenow="{{$complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{$complete}}%;">
				    <span class="sr-only">{{$complete}}% Complete</span>
				  </div>
				</div>
			</td>
			<td class='btn-cell'>
				{{ if previewExists $lang $source }}
				<a href="{{ previewURL $lang $source }}" class='btn btn-default btn-sm'><span class='glyphicon glyphicon-share-alt'></span></a>
				{{ else }}
				<span class='glyphicon glyphicon-remove-circle text-danger'></span>
				{{ end }}
			</td>
		{{ end }}
	</tr>
	{{ end }}

</table>



{{ end }}
