{{ define "title" }}Sources{{ end }}

{{ define "content" }}

<div class='container'>
<h1><span class="glyphicon glyphicon-book"></span>&nbsp; Sources</h1>

<form class='form-inline page-options' name='page-options' action='/sources' role='form'>
	<input type='hidden' name='language' value='{{ .CurrentLanguage }}'>

	<div class="form-group">
		<label for='options-game'>Game</label>
		<select id='options-game' name='game' class='form-control'>
			<option value='' {{ if eq .CurrentGame "" }}selected{{ end }}>All</option>
			<option value='pathfinder' {{ if eq .CurrentGame "pathfinder" }}selected{{ end }}>Pathfinder</option>
			<option value='dnd35' {{ if eq .CurrentGame "dnd35" }}selected{{ end }}>Dungeons &amp; Dragons 3.5</option>
		</select>
	</div>

	<div class="form-group">
		<label for='options-level'>Sources</label>
		<select id='options-level' name='level' class='form-control'>
			<option value='0' {{ if eq .CurrentLevel "0" }}selected{{ end }}>All Sources</option>
			<option value='1' {{ if eq .CurrentLevel "1" }}selected{{ end }}>Core Rules</option>
			<option value='2' {{ if eq .CurrentLevel "2" }}selected{{ end }}>Advanced Rules</option>
			<option value='3' {{ if eq .CurrentLevel "3" }}selected{{ end }}>Further Rules</option>
			<option value='4' {{ if eq .CurrentLevel "4" }}selected{{ end }}>Third Party and Extended</option>
		</select>
	</div>

	<div class="form-group">
		<label for='options-show'>Show</label>
		<select id='options-show' name='show' class='form-control'>
			<option value='' {{ if eq .CurrentShow "" }}selected{{ end }}>All lines</option>
			<option value='translated' {{ if eq .CurrentShow "translated" }}selected{{ end }}>Translated</option>
			<option value='untranslated' {{ if eq .CurrentShow "untranslated" }}selected{{ end }}>Untranslated</option>
		</select>
	</div>

	{{ pagination .Page }}
</form>

</div>

{{ $languages := .Languages }}
<table class='table table-striped table-hover'>

	<thead>
		<tr>
			<td>Page</td>
			{{ $languageNames := .LanguageNames }}
			{{ range $lang := .Languages }}
			<td>
				<img src='/images/flags/{{$lang}}.png'>
				{{ index $languageNames $lang }}</td>
			{{ end }}
		</tr>
	</thead>

	{{ range $source := .Sources }}
	<tr>
		<td>
			<a href="http://charactersheets.minotaur.cc/public/pdf/{{ $source.Filepath }}.pdf">{{ sourcePath $source }}</a>
		</td>
		{{ $sourceCompletion := sourceCompletion $source }}
		{{ range $lang := $languages }}
			{{ $complete := index $sourceCompletion $lang }}
			{{ $col := percentColour $complete }}
			<td>
				<div class="progress">
				  <div class="progress-bar progress-bar-{{$col}}" role="progressbar" aria-valuenow="{{$complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{$complete}}%;">
				    <span class="sr-only">{{$complete}}% Complete</span>
				  </div>
				</div>
			</td>
		{{ end }}
	</tr>
	{{ end }}

</table>



{{ end }}
