{{ define "title" }}Translate{{ end }}

{{ define "content" }}

<div class='container'>
<h1><span class="glyphicon glyphicon-globe"></span>&nbsp; Translate</h1>

<form class='form-inline page-options' name='page-options' action='/translate' role='form'>
	<input type='hidden' name='language' value='{{ .CurrentLanguage }}'>

	<div class="form-group">
		<label for='options-game'>Game</label>
		<select id='options-game' name='game' class='form-control'>
			<option value='' {{ if eq .CurrentGame "" }}selected{{ end }}>All</option>
			<option value='pathfinder' {{ if eq .CurrentGame "pathfinder" }}selected{{ end }}>Pathfinder</option>
			<option value='dnd35' {{ if eq .CurrentGame "dnd35" }}selected{{ end }}>Dungeons &amp; Dragons 3.5</option>
		</select>
	</div>

	<div class="form-group">
		<label for='options-level'>Sources</label>
		<select id='options-level' name='level' class='form-control'>
			<option value='0' {{ if eq .CurrentLevel "0" }}selected{{ end }}>All Sources</option>
			<option value='1' {{ if eq .CurrentLevel "1" }}selected{{ end }}>Core Rules</option>
			<option value='2' {{ if eq .CurrentLevel "2" }}selected{{ end }}>Advanced Rules</option>
			<option value='3' {{ if eq .CurrentLevel "3" }}selected{{ end }}>Further Rules</option>
			<option value='4' {{ if eq .CurrentLevel "4" }}selected{{ end }}>Third Party and Extended</option>
		</select>
	</div>

	<div class="form-group">
		<label for='options-show'>Show</label>
		<select id='options-show' name='show' class='form-control'>
			<option value='' {{ if eq .CurrentShow "" }}selected{{ end }}>All lines</option>
			<option value='translated' {{ if eq .CurrentShow "translated" }}selected{{ end }}>Translated</option>
			<option value='untranslated' {{ if eq .CurrentShow "untranslated" }}selected{{ end }}>Untranslated</option>
		</select>
	</div>

	{{ pagination .Page }}
</form>

</div>{{/* container */}}

<form role='form' id='form-translate' class='form-inline'>
	<input type='hidden' name='language' id='current-language' value='{{ .CurrentLanguage }}'>
<table class='table table-striped table-hover'>


<thead>
	<tr>
		<th></th>
		<th><img src='/images/flags/gb.png'>&nbsp; Original</th>
		<th>
			{{ if .IsAdmin }}
			<div class='dropdown' id="select-language">
				<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
					<img src='/images/flags/{{.CurrentLanguage}}.png'>&nbsp; {{ index .LanguageNames .CurrentLanguage }}
					<span class="caret"></span>
				</button>
				<ul class='dropdown-menu'>
					{{ $languageNames := .LanguageNames }}
					{{ range $lang := .Languages }}
					{{/* if $lang != "gb" */}}
						<li role='presentation'>
							<a href='/translate?language={{$lang}}' tabindex='-1' role='menuitem' data-lang='{{$lang}}'>
								<img src='/images/flags/{{$lang}}.png'>&nbsp; {{ index $languageNames $lang }}
							</a>
						</li>
					{{/* end */}}
					{{ end }}
				</ul>
			</div>
			{{ else }}
			<img src='/images/flags/{{.CurrentLanguage}}.png'>&nbsp; {{ index .LanguageNames .CurrentLanguage }}
			{{ end }}
		</th>
		<th></th>
	</tr>
</thead>

<tfoot>
	<tr><td colspan='4'></td></tr>
</tfoot>

<tbody>
{{ $currentUser := .CurrentUser }}
{{ $lang := .CurrentLanguage }}
{{ range $i, $entry := .Entries }}
<tr class='{{ entryClass $entry $lang $currentUser }}' data-line='{{ $i }}'>
	{{/*<td class='btn-cell'><a class='reveal reveal-sources' data-line='{{ $i }}'><span class='glyphicon glyphicon-book'></span></a></td>*/}}
	<td class='btn-cell'><span class='badge'>{{ $entry.Count }}</span></td>
	<td class='original'>
		{{ range $j, $part := $entry.Entries }}
		<label class='part' for='part-{{ $i }}-{{ $j }}'>
			<input type='hidden' id='part-{{ $i }}-{{ $j }}-original' name='part-{{ $i }}-{{ $j }}-original' class='form-control' value='{{ $part.Original }}' />
			<input type='hidden' id='part-{{ $i }}-{{ $j }}-partof' name='part-{{ $i }}-{{ $j }}-partof' class='form-control' value='{{ $part.PartOf }}' />
			{{ $part.Original }}
		</label>
		{{ end }}
	</td>
	<td class='translation translate-{{ len $entry.Entries }}-parts'>
		{{ $translations := otherTranslations $entry $lang $currentUser }}
		{{ $myTranslation := myTranslation $entry $lang $currentUser }}
		

		{{ range $translation := $translations }}
			<p class='other-translation'>
				<img src='http://www.gravatar.com/avatar/{{ md5 $translation.Translator }}?s=24'> &nbsp; 
				{{ range $part := $translation.Parts }}
					<label class='part'>{{ $part.Translation }}</label>
				{{ end }}
				{{ if $translation.IsPreferred }}<span class='glyphicon glyphicon-arrow-left'></span>{{ end }}
			</p>

		{{ end }}

		<p class='my-translation'>
			<img src='http://www.gravatar.com/avatar/{{ md5 $currentUser.Email }}?s=24'> &nbsp; 
			<span class='my-translation-arrow-score'></span><span class='my-translation-arrow'></span>
			{{ range $j, $part := $myTranslation.Parts }}
				<input type='text' id='part-{{ $i }}-{{ $j }}' name='part-{{ $i }}-{{ $j }}' class='form-control' value='{{ $part.Translation }}' />
			{{ end }}
			{{ if $myTranslation.IsPreferred }}<span class='glyphicon glyphicon-arrow-left'></span>{{ end }}
		</p>
	</td>
	<td class='btn-cell'><a class='reveal reveal-my-translation btn btn-default btn-sm'><span class='glyphicon glyphicon-plus'></span> <img src='http://www.gravatar.com/avatar/{{ md5 $currentUser.Email }}?s=24'></td>
</tr>
{{ end }}
</tbody>


</table>
</form>

{{ end }}
