{{ define "title" }}Users{{ end }}

{{ define "content" }}

{{ $isAdmin := .IsAdmin }}

<div class='container'>
<h1><span class="glyphicon glyphicon-user"></span>&nbsp; Users</h1>

<table class='table table-striped table-hover'>

	<thead>
		<tr>
			<td colspan='3'>Language</td>
			<td></td>
			<td>User</td>
			{{ if $isAdmin }}<td>Email</td>{{ end }}
			<td>Translations</td>
		</tr>
	</thead>

	{{ range $user := .Users }}

	<tr>
		<td><img src='/images/flags/{{ .Language }}.png'></td>
		<td>{{ if $user.IsLanguageLead }}<span class='glyphicon glyphicon-chevron-up'></span>{{ end }}</td>
		<td>{{ if $isAdmin }}<a class='api reload' href='/api/setlead?user={{ .Email }}'><span class='glyphicon glyphicon-arrow-up'></span></a>{{ end }}
			{{ if $isAdmin }}<a class='api reload' href='/api/clearlead?user={{ .Email }}'><span class='glyphicon glyphicon-arrow-down'></span></a>{{ end }}</td>
		<td>{{ if $user.IsAdmin }}<span class='glyphicon glyphicon-star'></span>{{ end }}</td>
		<td><img src='http://www.gravatar.com/avatar/{{ md5 $user.Email }}?s=24'>&nbsp; {{ $user.Name }}</td>
		{{ if $isAdmin }}<td><a href='mailto:{{ $user.Email }}'>{{ $user.Email }}</a></td>{{ end }}
		<td>
			{{ range $lang, $count := countUserTranslations $user }}
			<span class='lang-count'>
				<img src='/images/flags/{{ $lang }}.png'>
				<span class='badge'>{{ $count }}</span>
			</span>
			{{ end }}

			{{/*
			<img src='/images/flags/gb.png'> All &nbsp; 
			<img src='/images/flags/us.png'> 78
			*/}}
		</td>
	</tr>

	{{ end }}

</table>

{{ if .IsAdmin }}
<p>
	<a class='btn btn-primary' href='/users/add'><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user"></span>&nbsp; Add a user</a> &nbsp; 
	<a class='btn btn-link' href='/account'><span class="glyphicon glyphicon-user"></span>&nbsp; Account settings</a>
	<a class='btn btn-danger btn-sm' href='/logout'><span class="glyphicon glyphicon-lock"></span>&nbsp; Log out</a>
</p>
{{ end }}
</div>

</div>{{/* container */}}
{{ end }}
