{{ define "title" }}Add User{{ end }}

{{ define "content" }}

<div class='container'>
<h1><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user"></span>&nbsp; Add User</h1>

<form method='post' action='/users' class='' role='form'>

  <div class='form-group'>
    <label for='add-user-email'>Email address</label>
    <input type='email' name='email' id='add-user-email' class='form-control' placeholder='joe@example.com'>
  </div>

  <div class='form-group'>
    <label for='add-user-name'>Name</label>
    <input type='text' name='name' id='add-user-name' class='form-control' placeholder='Joe Blogs'>
  </div>

  <p>
    <label>Language</label> &nbsp; 
    {{ $languageNames := .LanguageNames }}
    {{ range $lang := .Languages }}
    <label class="checkbox-inline"><input type='radio' name='language' value='{{ $lang }}'>&nbsp;
      <img src='/images/flags/{{ $lang }}.png'> &nbsp; {{ index $languageNames $lang }} &nbsp;
    </label>
    {{ end }}
  </p>

  <p>
    <label for='add-user-send-invite' class='checkbox-inline'>
      <input type='checkbox' name='send-invite' id='add-user-send-invite'>
      Send invitation email
    </label>
  </p>

  <p>
    <button type='submit' class='btn btn-primary'><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user"></span>&nbsp; Add User</button>
    <a href='/users' class='btn btn-link'><span class="glyphicon glyphicon-remove"></span> Cancel</a>
  </p>

</form>

</div>{{/* container */}}
{{ end }}
